
<h1> {{ name }} </h1>

<dl>

  <td>Nombre:</td>
  <dd>{{ name }}</dd>

  <td>Edad:</td>
  <dd>{{ age }}</dd>

  <td>Método:</td>
  <dd>{{ getHeroDescription() }}</dd>

  <td>Capitalizado:</td>
  <dd> {{ capitalizedName }} </dd>

</dl>

<button
  *ngIf="name !== 'spider'"
  (click)="changeHero()"
  class="btn btn-primary mx-2">
  cambiar nombre
</button>

<button
  *ngIf="age !== 25"
  (click)="changeAge()"
  class="btn btn-primary mx-2">
  cambiar edad
</button>

<button
  *ngIf="botonUsado"
  (click)="restablecer()"
  class="btn btn-primary mx-2">
  Restablecer
</button>
